/* Container */
.signup-container {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
  }
  
  /* Left Section */
  .signup-left {
    flex: 1;
    background-color: #f9fafb;
    padding: 0 30px 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .signup-image {
    width: 420px;
    margin-bottom: 24px;
  }
  
  .signup-heading {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
    color: #0f172a;
  }
  
  .signup-subtext {
    font-size: 16px;
    text-align: center;
    color: #475569;
  }
  
  /* Right Section */
  .signup-right {
    flex: 1;
    padding: 0 !important;
    display: flex;
    background-color: #f9fafb;
    align-items: center;
    min-width: 350px;
  }
  
  #signup-social-icon {
    height: 20px;
    padding: 0 5px;
  }
  
  #signup-terms {
    text-decoration: solid;
  }
  
  .signup-card {
    width: 120%;
    max-width: 550px;
    display: flex;
    align-items: center;
    height: 100%;
    background-color: white;
    border-radius: 12px;
    padding: 40px;
  }
  
  .signup-title {
    font-size: 37px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .signup-socials {
    display: flex;
    gap: 12px;
    margin-bottom: 16px;
  }
  
  .signup-social-btn {
    flex: 1;
    padding: 10px;
    background-color: #ffffff;
    border: 0.7px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    font-weight: 400;
    cursor: pointer;
  }
  
  .signup-or {
    text-align: center;
    margin: 20px 0 12px;
    font-size: 14px;
    color: #64748b;
  }
  
  .signup-input {
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #e2e8f0;
    margin-bottom: 12px;
    font-size: 16px;
    width: 100%;
  }
  
  .signup-terms {
    font-size: 14px;
    margin: 12px 0;
    color: #475569;
  }
  
  .signup-button {
    background-color: #0f172a;
    color: white;
    padding: 14px;
    width: 100%;
    font-size: 16px;
    border-radius: 8px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .signup-switch-text {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-top: 16px;
    color: #0f172a;
  }
  
  #signup-link {
    color: #0f172a;
    text-decoration: none;
    font-weight: 800;
  }
  
  #signup-link2 {
    color: #0f172a;
    text-decoration: none;
    font-weight: 600;
  }
  
  /* Responsive */
  @media screen and (max-width: 768px) {
    .signup-left {
      display: none;
    }
  
    .signup-container {
      flex-direction: column;
    }
  
    .signup-right {
      padding: 30px 20px;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .signup-container {
      flex-direction: column;
    }
  
    .signup-left {
      order: 2;
      display: flex;
      padding: 30px 20px;
    }
  
    .signup-right {
      order: 1;
    }
  }
  